* {
	padding: 0;
	margin: 0;
	/*border: 1px solid rgba(0, 0, 0, 1);*/

}

h1 {
	color: #4E342E;
	margin-top: 40px;
	text-align: center;
}

body {
	background: url("background.jpg") repeat left top;
	color: #3E2723;
	/*background-color: rgba(255,255,255,0.8);
	background-blend-mode: lighten;*/
}

section {
	display: none;
}

.tab {
	display: none;
}

.tabs {
	text-align: center;
}

label {
	display: inline-block;
	font-weight: 600;
	text-align: center;
	color: #795548;
	padding: 20px;
	width: 9%;
	margin: 10px;
	border: 1px solid transparent;
	border: 1px solid #795548;
	border-radius: 5px;
}

label[for*='1']:before { content: '\f1cb'; }
label[for*='2']:before { content: '\f17d'; }
label[for*='3']:before { content: '\f16b'; }
label[for*='4']:before { content: '\f1a9'; }

label:hover {
	color: #795548;

}

input:checked + label {
	color: #FFF;
	background: #795548;
}

#tab1:checked ~ #content1,
#tab2:checked ~ #content2,
#tab3:checked ~ #content3,
#tab4:checked ~ #content4 {
	display: block;
}

.line {
	width: 80%;
	height: 1px;
	border-bottom: 1px solid #A1887F;
	margin-left: 10%;
	margin-top: 20px;
	margin-bottom: 20px;
}

.contactIcons {
	width: 50px;
	height: 50px;
	margin: 30px;
}

table {
	margin: 1em auto;
	border-collapse: collapse;
}

td {
	padding: 10px 20px;
	text-align: left;
}

.images td {
	padding: 20px;
	max-width: 100%;
    max-height: 100%;
	align-self: center;
	object-fit: contain;
}